<div class="slideshow slideshow--band">
    <ul data-module="ui/Scroller" class="scroller-items stacked" data-options='{"paging":false}'>
        <li style="background-image:url('{{ site.path }}/_media/img/slideshow1.jpg');">


                    <div class="hgroup">

                        <h3 class="beta">
                            Maria Catharina
                        </h3>
                        <p class="subtitle subtitle--glued gamma">
                            Lead vocals
                        </p>

                    </div>


            <img src="{{ site.path }}/_media/img/band1.jpg" alt="Maria Catharina - Aniday" />
        </li><!--
        --><li style="background-image:url('{{ site.path }}/_media/img/slideshow2.jpg');">


                    <div class="hgroup">

                        <h3 class="beta">
                            Robby V
                        </h3>
                        <p class="subtitle subtitle--glued gamma">
                            Guitar, keys and backing vocals
                        </p>

                    </div>


        <img src="{{ site.path }}/_media/img/band2.jpg" alt="Robby V - Aniday" />
        </li><!--
        --><li style="background-image:url('{{ site.path }}/_media/img/slideshow1.jpg');">


                    <div class="hgroup">

                        <h3 class="beta">
                            Paul Coenradie
                        </h3>
                        <p class="subtitle subtitle--glued gamma">
                            Lead-guitar and backing vocals
                        </p>

                    </div>


        <img src="{{ site.path }}/_media/img/band3.jpg" alt="Paul Coenradie - Aniday" />
        </li><!--
        --><li style="background-image:url('{{ site.path }}/_media/img/slideshow2.jpg');">


                    <div class="hgroup">

                        <h3 class="beta">
                            Alex Mol
                        </h3>
                        <p class="subtitle subtitle--glued delta">
                            Bass
                        </p>

                    </div>


        <img src="{{ site.path }}/_media/img/band4.jpg" alt="Alex Mol - Aniday" />
        </li><!--
        --><li style="background-image:url('{{ site.path }}/_media/img/slideshow1.jpg');">


                    <div class="hgroup">

                        <h3 class="beta">
                            Danny Simons
                        </h3>
                        <p class="subtitle subtitle--glued gamma">
                            Drums and backing-vocals
                        </p>

                    </div>


        <img src="{{ site.path }}/_media/img/band5.jpg" alt="Danny Simons - Aniday" />
    </li>
    </ul>
</div>