<ul data-module="ui/Scroller" class="scroller-items slideshow stacked" data-options='{"auto":1500,"loop":true}'>
    <li>
        <div class="hgroup">
            <h2>Headline naar vervolgscherm</h2>
            <p class="subtitle subtitle--glued gamma">Lorem ipsum dolor sit amet</p>
        </div>
        <img src="{{ site.path }}/_static/assets/img/test.jpg" alt="Aniday" />
    </li><!--
    --><li>
            <div class="hgroup hgroup--bottom">
                <h2>Headline naar vervolgscherm</h2>
                <p class="subtitle subtitle--glued gamma">Lorem ipsum dolor sit amet</p>
            </div>
            <img src="{{ site.path }}/_static/assets/img/test.jpg" alt="Aniday" />
    </li><!--
    --><li>
        <div class="hgroup hgroup--right">
            <h2>Headline naar vervolgscherm</h2>
            <p class="subtitle subtitle--glued gamma">Lorem ipsum dolor sit amet</p>
        </div>
        <img src="{{ site.path }}/_static/assets/img/test.jpg" alt="Aniday" />
    </li><!--
    --><li>
    <div class="hgroup hgroup--right hgroup--bottom">
        <h2>Headline naar vervolgscherm</h2>
        <p class="subtitle subtitle--glued gamma">Lorem ipsum dolor sit amet</p>
    </div>
    <img src="{{ site.path }}/_static/assets/img/test.jpg" alt="Aniday" />
</li>
</ul>