<ul data-module="ui/Scroller" class="scroller-items stacked">
    <li>
        <figure class="box box-primary">
            <img src="{{ site.path }}/_media/img/band.jpg" alt="Aniday" />
            <figcaption class="box-inner">Aniday 2009</figcaption>
        </figure>
    </li><!--
    --><li>
        <figure class="box box-primary">
            <img src="{{ site.path }}/_media/img/band.jpg" alt="Aniday" />
            <figcaption class="box-inner">Aniday 2009</figcaption>
        </figure>
    </li><!-- --><li>
        <figure class="box box-primary">
            <img src="{{ site.path }}/_media/img/band.jpg" alt="Aniday" />
            <figcaption class="box-inner">Aniday 2009</figcaption>
        </figure>
    </li>
</ul>