<div class="box island scroller">
    <ul data-module="ui/Scroller" class="scroller-items">
        {% for pic in include.data %}<li>
            <figure class="fig-caption">
                <img src="{{ pic.url }}" alt="{{ pic.caption }}" />
                {% if pic.caption %}
                    <figcaption class="fig-caption__caption fig-caption__caption--overlay">
                        {{ pic.caption }}
                    </figcaption>
                {% endif %}
            </figure>
        </li>{% endfor %}
    </ul>
</div>