<div class="slideshow">
    <ul data-module="ui/Scroller" class="scroller-items stacked">
        <li>
            <div class="wrapper">
                <div class="hgroup hgroup--right hgroup--center hgroup--align-right">
                    <h2 class="alpha">Headline naar vervolgscherm</h2>
                    <p class="subtitle subtitle--glued beta">Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <img src="{{ site.path }}/_media/img/slideshow1.jpg" alt="Aniday" />
        </li><!--
        --><li>
            <div class="wrapper">
                <div class="hgroup hgroup--center">
                    <h2 class="alpha">Headline naar vervolgscherm</h2>
                    <p class="subtitle subtitle--glued beta">Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <img src="{{ site.path }}/_media/img/slideshow2.jpg" alt="Aniday" />
        </li>
    </ul>
</div>