/* Fonts
----------------------------------------*/


/* Breakpoints
----------------------------------------*/

$breakpoint-s:400px;
$breakpoint-m:600px;
$breakpoint-l:800px;
$breakpoint-xl:1000px;
$breakpoint-xxl:1200px;

/* Colors
----------------------------------------*/


