/* Generic lists
----------------------------------------------- */
ul,
ol,
dl {
  margin:0 0 1.5em;
}

/* Unordered list
----------------------------------------------- */
ul {

}

/* Ordered list
----------------------------------------------- */
ol {

}

/* Definition list
----------------------------------------------- */
dl {
  dt {
    font-weight:bold;
  }
}

/* Definition list
----------------------------------------------- */
.reset-list {
  list-style:none none outside;
  padding-left:0;
}

/* Block list
 ----------------------------------------------- */

.block-list {
  > li {
    padding:.75em 0;
  }
}

/* Border-list
----------------------------------------------- */
.border-list {
  border-bottom:1px solid rgba(0,0,0,.5);
  border-top:1px solid rgb(96,96,96);

  > li {
    border-top:1px solid rgba(0,0,0,.5);
  }

  > li {
    border-bottom:1px solid rgb(96,96,96);
  }

}