/* Import fonts
----------------------------------------------- */

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/opensans_regular/OpenSans-Regular-webfont.eot');
  src: url('../assets/fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'),
  url('../assets/fonts/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('../assets/fonts/opensans_regular/OpenSans-Regular-webfont.svg#opensans_regular') format('svg');
  font-weight: normal;
  font-style:normal;
  font-weight:600;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/opensans_bold/OpenSans-Bold-webfont.eot');
  src: url('../assets/fonts/opensans_bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/opensans_bold/OpenSans-Bold-webfont.woff') format('woff'),
  url('../assets/fonts/opensans_bold/OpenSans-Bold-webfont.ttf') format('truetype'),
  url('../assets/fonts/opensans_bold/OpenSans-Bold-webfont.svg#opensans_bold') format('svg');
  font-weight: bold;
  font-style:normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.eot');
  src: url('../assets/fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.woff') format('woff'),
  url('../assets/fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
  url('../assets/fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.svg#opensans_extrabold') format('svg');
  font-weight: bolder;
  font-style:normal;
}

/* Responsive baseline
----------------------------------------------- */

body {
  color:rgb(170,170,170);
  font-family:$font-open-sans;
  font-size:75%; /* 12 */
  font-weight:600;
  line-height:1.5;
  text-shadow:0 1px 0 rgb(0,0,0);
}

@include respond-min($breakpoint-m){
  body {
    font-size:87.5%; /* 14 */
  }
}

@include respond-min($breakpoint-l){
  body {
    font-size:100%; /* 16 */
  }
}

/* Add baseline class to the body for vertical rhythm
----------------------------------------------- */

.baseline {
  background-image:linear-gradient(top, #D7D7D7 0%, #D7D7D7 50%, #F2F2F2 50%, #F2F2F2 100%)!important;
  background-repeat:repeat;
  background-size:100% 1.5em;
  background-position:left top;

  h1,
  h2,
  h3,
  h4,
  h5,
  ul,
  ol,
  dl,
  label,
  p {
    background:rgba(255,0,0,.25);
  }

}

/* Headings
----------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
.subtitle,
.alpha,
.beta,
.gamma,
.delta {
  color:$color-white;
  font-family:$font-open-sans;
  font-size:1em;
  font-weight:bold;
  @include rem(margin-bottom,.750rem);
  margin-top:0;
  position:relative;

  a {
    &:link,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      text-decoration:none;
    }
  }

  &.header-section {
    margin-bottom:1.5rem;
    position:relative;
  }

  &.header-section--alt {
    @include rem(padding-bottom,1.5rem);

    &:after {
      border-bottom:.25em solid $color-primary;
      bottom:0;
      content:"";
      display:block;
      left:0;
      position:absolute;
      @include rem(width,3rem);
    }

  }

}

.highlight,
.subtitle {
  color:$color-white;
}

.highlight--break {
  display:block;
}

.subtitle {
  @include rem(margin-top,-.75rem);

  &.subtitle--glued {
    margin-top:0;
  }

}

h1,
.alpha {
  font-size:2em; /* 36/18 */
  line-height:1.5em; /* 54/36 */
}

h2,
.beta {
  font-size:1.333em; /* 24/18 */
  line-height:1.6875em; /* 40.5/24 */
}

h3,
.gamma {
  font-size:1em;
  line-height:1.5em;
}

h4,
.delta {
  font-size:.78888em; /* 14/18 */
  line-height:1.9286em; /* 27/14 */
}

/* Paragraph
----------------------------------------------- */

p {
  margin:0 0 1.5em;
}

.small {
  font-size:.77778em; /* 14/18 */
  line-height:1.9285714em; /* 27/14 */
  margin-bottom:1.9285714em;
}

.lead {
  color:$color-white;
  font-weight:bold;
}

/* Links
----------------------------------------------- */

a {

  &:link {
    text-decoration:underline;
  }

  &:focus,
  &:hover {
    text-decoration:none;
  }

  &:visited {
  }

}

/* Images
----------------------------------------------- */

img {
  max-width:100%;
  vertical-align:bottom;
}

.text-overflow:focus {
  box-shadow:none;
  outline-width:0;
}

/* Text selection
----------------------------------------------- */

::selection {
  background:$color-primary;
  color:$color-white;
  
}

/* Links
----------------------------------------------- */
a {
  color:$color-primary;

  &:link,
  &:visited {
    text-decoration:underline;
  }

  &:focus,
  &:hover,
  &:active {
    text-decoration:none;
  }

}

/* Images
----------------------------------------------- */
img {
  margin:0 0 1.5em;
  max-width:100%;
  vertical-align:bottom;
}

/* Content header
----------------------------------------------- */
.content-header {
  border-bottom:1px solid rgba(255,255,255,.25);
  margin-bottom:3em;
  padding:3em 0;
}

.primary { color:$color-primary; }
.secondary { color:$color-secondary; }

hr {
  border-color:rgb(96,96,96);
  border-bottom-color:rgba(0,0,0,.5);
  border-style:solid;
  border-width:1px 0;
  clear:both;
  margin:3em 0;
}