<nav class="page-nav group">

    <h2 class="screenreader">Hoofdnavigatie</h2>
    <ul class="main-navigation" id="main-navigation" >
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/say-say-say">Single!</a>
        </li>
        <li>
            <a href="/bio">Bio</a>
        </li>
        <!-- <li>
            <a href="/band">Band</a>
        </li> -->
        <li>
            <a href="/music">Music</a>
        </li>
        <li>
            <a href="/gallery">Gallery</a>
        </li>
        <li>
            <a href="/shop">Shop</a>
        </li>
        <li>
            <a href="/press">Press</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>