<nav role="navigation" data-module="ui/MainNav" data-conditions="window:{max-width:599}">

    <h2 class="screenreader">Hoofdnavigatie</h2>
    <ul class="main-navigation" id="main-navigation">
        <li{% if page.group == 'nieuws' %} class="current"{% endif %}>
            <a href="{{ site.path }}/nieuws/">Nieuws</a>
        </li>
        <li{% if page.group == 'agenda' %} class="current"{% endif %}>
            <a href="{{ site.path }}/agenda/">Agenda</a>
        </li>
        <li{% if page.group == 'band' %} class="current"{% endif %}>
            <a href="{{ site.path }}/band/">Band</a>
        </li>
        <li{% if page.group == 'muziek' %} class="current"{% endif %}>
            <a href="{{ site.path }}/muziek/">Muziek</a>
        </li>
        <li{% if page.group == 'media' %} class="current"{% endif %}>
            <a href="{{ site.path }}/media/">Media</a>
        </li>
        <li{% if page.group == 'shop' %} class="current"{% endif %}>
            <a href="{{ site.path }}/shop/">Shop</a>
        </li>
        <li{% if page.group == 'contact' %} class="current"{% endif %}>
            <a href="{{ site.path }}/contact/">Contact</a>
        </li>
    </ul>
</nav>