<section class="page-section page-section--band" id="band">

    <div class="wrapper">
        <div class="page-section-intro">

            <div class="hgroup group">

                <h2 class="kilo">
                    Band
                </h2>
                <p class="subtitle subtitle--glued alpha">
                    Meet the band
                </p>

            </div>

        </div>
    </div>

    <div class="wrapper">

        <!--- <div class="band-info box box-black box-inner box-inner--xl">

            <p class="lead">Being a small country, doesn't mean the Netherlands cannot yield great bands. The female fronted rock- and metal metal talent coming from the Netherlands seems to be endless.
                After bands such as  Within Temptation, Epica, Stream of Passion, Floor Jansen’s ReVamp and prior to that After Forever, there is now a new band ready to get in line with their peers: Aniday.</p>

            <p>Being a small country, doesn't mean the Netherlands cannot yield great bands. The female fronted rock- and metal metal talent coming from the Netherlands seems to be endless.
                After bands such as  Within Temptation, Epica, Stream of Passion, Floor Jansen’s ReVamp and prior to that After Forever, there is now a new band ready to get in line with their peers: Aniday.</p>

        </div> -->

        <div class="band-profiles">
            <ul class="matrix-list matrix-list-gutter band-members-list">
                <li>

                    <div class="band-profile">

                        <div class="band-profile-pic">

                            <div class="hgroup">

                                <h3 class="beta">
                                    Maria Catharina
                                </h3>
                                <p class="subtitle subtitle--glued gamma">
                                    Lead vocals
                                </p>

                            </div>

                            <img src="{{ site.path }}/_media/img/band1.jpg" alt="Maria Catharina - Aniday" />

                        </div>

                        <div class="box box-black box-inner box-inner--xl">

                            <p>Being a small country, doesn't mean the Netherlands cannot yield great bands. The female fronted rock- and metal metal talent coming from the Netherlands seems to be endless.
                                After bands such as  Within Temptation, Epica, Stream of Passion, Floor Jansen’s ReVamp and prior to that After Forever, there is now a new band ready to get in line with their peers: Aniday.</p>

                        </div>

                    </div>

                </li><li>

                    <div class="band-profile">

                        <div class="band-profile-pic">

                            <div class="hgroup">

                                <h3 class="beta">
                                    Robby V
                                </h3>
                                <p class="subtitle subtitle--glued gamma">
                                    Guitar, keys and backing vocals
                                </p>

                            </div>

                            <img src="{{ site.path }}/_media/img/band2.jpg" alt="Robby V - Aniday" />

                        </div>

                        <div class="box box-black box-inner box-inner--xl">

                            <p>Being a small country, doesn't mean the Netherlands cannot yield great bands. The female fronted rock- and metal metal talent coming from the Netherlands seems to be endless.
                            After bands such as  Within Temptation, Epica, Stream of Passion, Floor Jansen’s ReVamp and prior to that After Forever, there is now a new band ready to get in line with their peers: Aniday.</p>

                        </div>

                    </div>

                </li><li>

                    <div class="band-profile">

                        <div class="band-profile-pic">

                            <div class="hgroup">

                                <h3 class="beta">
                                    Paul Coenradie
                                </h3>
                                <p class="subtitle subtitle--glued gamma">
                                    Lead-guitar and backing vocals
                                </p>

                            </div>

                            <img src="{{ site.path }}/_media/img/band3.jpg" alt="Paul Coenradie - Aniday" />

                        </div>

                        <div class="box box-black box-inner box-inner--xl">

                            <p>Being a small country, doesn't mean the Netherlands cannot yield great bands. The female fronted rock- and metal metal talent coming from the Netherlands seems to be endless.
                            After bands such as  Within Temptation, Epica, Stream of Passion, Floor Jansen’s ReVamp and prior to that After Forever, there is now a new band ready to get in line with their peers: Aniday.</p>

                        </div>

                    </div>

                </li><li>

                    <div class="band-profile">

                        <div class="band-profile-pic">

                            <div class="hgroup">

                                <h3 class="beta">
                                    Alex Mol
                                </h3>
                                <p class="subtitle subtitle--glued delta">
                                    Bass
                                </p>

                            </div>

                            <img src="{{ site.path }}/_media/img/band4.jpg" alt="Alex Mol - Aniday" />

                        </div>

                        <div class="box box-black box-inner box-inner--xl">

                            <p>Being a small country, doesn't mean the Netherlands cannot yield great bands. The female fronted rock- and metal metal talent coming from the Netherlands seems to be endless.
                            After bands such as  Within Temptation, Epica, Stream of Passion, Floor Jansen’s ReVamp and prior to that After Forever, there is now a new band ready to get in line with their peers: Aniday.</p>

                        </div>

                    </div>

                </li><li>

                    <div class="band-profile">

                        <div class="band-profile-pic">

                            <div class="hgroup">

                                <h3 class="beta">
                                    Danny Simons
                                </h3>
                                <p class="subtitle subtitle--glued gamma">
                                    Drums and backing-vocals
                                </p>

                            </div>

                            <img src="{{ site.path }}/_media/img/band5.jpg" alt="Danny Simons - Aniday" />

                        </div>

                        <div class="box box-black box-inner box-inner--xl">

                            <p>Being a small country, doesn't mean the Netherlands cannot yield great bands. The female fronted rock- and metal metal talent coming from the Netherlands seems to be endless.
                            After bands such as  Within Temptation, Epica, Stream of Passion, Floor Jansen’s ReVamp and prior to that After Forever, there is now a new band ready to get in line with their peers: Aniday.</p>

                        </div>

                    </div>

                </li>
            </ul>
        </div>


    </div>

</section>