<section class="page-section page-section--bio" id="bio">

    <div class="wrapper">

        <div class="page-section-intro">

            <div class="hgroup group">

                <h2 class="kilo">
                    Biography
                </h2>
                <p class="subtitle subtitle--glued alpha">
                    The story of Aniday
                </p>

            </div>

        </div>

        <div class="bio-story box box-inner--xl box-black">

            <p class="lead">ANIDAY has stormed the music scene with the diverse female fronted rock-metal band featuring the lovely and talented Maria Catharina on lead vocals; Paul Coenradie brings his astonishing guitar riffs to the mix; holding down the rhythm section are Alex Mol (bass guitar) and Danny Simons (drums); and wrapping it all up into a nice package, is none other than writer, producer and mulit-instrumental marvel, Robby Valentine.</p>

            <div class="bio-story-text">

                <p>The band released their debut album, Aniday, March 2014 which contains twelve tantalizing tracks; from the modern upbeat sounds of 'Buscando la Vida' to the intense rock ballad 'When Loving You Is Wrong' listeners are left in awe of the solid compositions and impressive vocals of Maria Catharina, who compares to the likes of Bonnie Tyler, Stevie Nicks, and Pat Benatar, but with a fresh and modern twist.</p>

                <p>Aniday's style transcends all age and genre barriers with an appeal to a wide audience. Pop, metal and rock music lovers worldwide, will be swept away from the first note.</p>

                <p>'Leave me With Your Lies' was selected as <a href="http://youtu.be/4D1XmwymVy8">International Fantasy Fan video</a>; and Aniday have been catching attention of Dutch media with appearances on radio programs, such as, Life FM; and their recent interviews by <a href="http://aardschok.com/">Aardschok Magazine</a> and <a href="http://www.mediawatchers.be/1/nl">Media Watchers</a>.</p>

                <p>Although, the Netherlands is a small country, it is been home to many great bands. There are plenty of reasons for this new band to join their peers Within Temptation, Epica, Stream of Passion, Floor Jansen-ReVamp at the top.  A warm world welcome to, ANIDAY.</p>

            </div>

        </div>

    </div>

</section>