<section class="page-section page-section--contact" id="contact">
    <div class="wrapper">

        <div class="page-section-intro">

            <div class="hgroup group">

                <h2 class="kilo">
                    Contact
                </h2>
                <p class="subtitle subtitle--glued alpha">
                   Bookings, interviews and more!
                </p>

            </div>

        </div>

        <div class="contact-info box box-black box-inner box-inner--xl">

            <p class="lead">Being a small country, doesn't mean the Netherlands cannot yield great bands. The female fronted rock- and metal metal talent coming from the Netherlands seems to be endless.
                After bands such as  Within Temptation, Epica, Stream of Passion, Floor Jansen’s ReVamp and prior to that After Forever, there is now a new band ready to get in line with their peers: Aniday.</p>


            <h3>Interviews en informatie</h3>
            <p>Valentinemusic Cristel Brouwer</p>
            <dl>
                <dt>E-mail</dt>
                <dd><a href="mailto:management@aniday.nl">management@aniday.nl</a></dd>
                <dt>Telefoon:</dt>
                <dd>06 - 547 566 98</dd>
            </dl>

            <h3>Social media</h3>
            <dl>
                <dt>
                    Twitter
                </dt>
                <dd><a href="http://www.twitter.com/anidayoffical">@anidayofficial</a></dd>
                <dt>
                    Facebook
                </dt>
                <dd>
                    <a href="http://www.facebook.com/anidayofficial">Aniday</a>
                </dd>
            </dl>

        </div>


    </div>
</section>