<section class="page-section page-section--gallery" id="gallery">

    <div class="wrapper">
        <div class="page-section-intro">

            <div class="hgroup group">

                <h2 class="kilo">
                    Gallery
                </h2>
                <p class="subtitle subtitle--glued alpha">
                    For your viewing pleasure
                </p>

            </div>

        </div>
    </div>

    <div class="wrapper">

        <p>
            All images shot by <a href="http://www.timtronckoe.com">Tim Tronckoe</a>
        </p>

        <ul class="matrix-list matrix-list-gutter gallery-list">
            {% for x in (1..9) %}<li>
                <a href="/_media/img/gallery/large/{{ x }}.jpg" class="lightbox">
                    <img src="/_media/img/gallery/thumb/{{ x }}.jpg" alt="" class="stacked" />
                </a>
            </li>{% endfor %}
        </ul>

    </div>

</section>

<div class="lightboxstage">
    <span></span>
    <img src="#" alt="">
</div>

<script src="{{ site.path }}/_static/js/vendor/vis7mac/flexibox.js"></script>
<script>
    var lightbox = new Flexibox(document.querySelectorAll('.lightbox'), {debug: true});
</script>