<section class="page-section page-section--shop" id="shop">
    <div class="wrapper">

        <div class="page-section-intro">

            <div class="hgroup group">

                <h2 class="kilo">
                    Live
                </h2>
                <p class="subtitle subtitle--glued alpha">
                    Come join us at a show!
                </p>

            </div>

        </div>

        <div class="box box-black box-inner box-inner--xl">

            <h2>Manifesto - Hoorn (March 7)</h2>

            <h3>Tickets</h3>
            <p>Entrance 7,-- presale, (10,-- at the door)</p>
            <p>Buy your standard tickets right here at the <a href="http://www.manifesto-hoorn.nl/2014/0703-aniday/">Manifesto website</a>.</p>

            <h3>Special tickets</h3>
            <ul>
                <li>Ticket A 7,-- </li>
                <li>Ticket B 15,-- Entrance + meet & greet (drinks + photographs included)</li>
                <li>Ticket C 55,-- Entrance + meet & greet + Aniday shirt*</li>
            </ul>

            <p>(*B-C prices do not include shipment)</p>

            <p>Mail us at robbyvalentinepromo@gmail.com to tell us what ticket you want and to receive instructions for payment.</p>

            <p>We're proud to announce that Aniday will be supported by <a href="http://www.facebook.com/Melainamusic">Melaina</a>.</p>

        </div>


    </div>
</section>