<section class="page-section page-section--press" id="press">

    <div class="wrapper">
        <div class="page-section-intro">

            <div class="hgroup group">

                <h2 class="kilo">
                    Press
                </h2>
                <p class="subtitle subtitle--glued alpha">
                    Reviews
                </p>

            </div>

        </div>
    </div>

    <div class="wrapper">

        <div class="press-info box box-black box-inner box-inner--xl">

            <p class="lead">Below you can find a selection of snippets from reviews of our album. Click the source to read the full review. Enjoy!</p>

            <hr />

            <blockquote>
                Aniday have produced an album of first class modern melodic hard rock, which should appeal to not just Robby Valentine followers but also to a wider audience. It may be a little premature but I think this record is already nailed on to be one of the releases of the year.
            </blockquote>
            <p>
                <a href="http://0dayrox.blogspot.com/search/label/ANIDAY">0DayRox</a>
            </p>

            <hr />

            <blockquote>
                A great debut album from this young band, full of variety and styles, great chorus lines and lyrics. Everything is well constructed and uplifting, a very enjoyable listen. Highly recommended.
            </blockquote>
            <p>
                <a href="http://blackphoenixrising.freeforums.org/aniday-aniday-album-march-2014-t1895.html">Black Phoenix Rising</a>
            </p>

            <hr />

            <blockquote>
                De stem is geweldig, maar ook het songmateriaal evenals de uitvoering hiervan is van een uitermate hoog niveau, waardoor dit Aniday debuut voor mij de beste plaat is die ik deze maand heb mogen beluisteren.
            </blockquote>
            <p>
                <a href="http://www.lordsofmetal.nl/nl/reviews/view/id/27215">Lords Of Metal</a>
            </p>

            <hr />

            <blockquote>
                Bij elk nummer wordt je steeds verder mee genomen in de wereld die Aniday heet. Een band die duidelijk op weg is naar de top! Voor de mensen die hen daarbij in de weg staan, verwacht zeker een trap onder de kont!
            </blockquote>
            <p>
                <a href="http://www.rockportaal.nl/aniday-aniday/">RockPortaal</a>
            </p>

            <hr />

            <blockquote>
                My original wish, to release the album and to do a great presentation show, has already been fulfilled, but now that the album is out there and it’s received quite positive, you of course want more…like performed in bigger venues like 013, Melkweg, Paradiso.
            </blockquote>

            <p>
                <a href="http://www.lordsofmetal.nl/nl/interviews/view/id/5131">Lords Of Metal (Interview)</a>
            </p>

        </div>

    </div>

</section>