<section class="page-section page-section--press" id="press">

    <div class="wrapper">
        <div class="page-section-intro">

            <div class="hgroup group">

                <h2 class="kilo">
                    Press
                </h2>
                <p class="subtitle subtitle--glued alpha">
                    Download our presskit
                </p>

            </div>

        </div>
    </div>

    <div class="wrapper">

        <div class="press-info box box-black box-inner box-inner--xl">

            <p class="lead">Being a small country, doesn't mean the Netherlands cannot yield great bands. The female fronted rock- and metal metal talent coming from the Netherlands seems to be endless.
                After bands such as  Within Temptation, Epica, Stream of Passion, Floor Jansen’s ReVamp and prior to that After Forever, there is now a new band ready to get in line with their peers: Aniday.</p>

            <p>Being a small country, doesn't mean the Netherlands cannot yield great bands. The female fronted rock- and metal metal talent coming from the Netherlands seems to be endless.
                After bands such as  Within Temptation, Epica, Stream of Passion, Floor Jansen’s ReVamp and prior to that After Forever, there is now a new band ready to get in line with their peers: Aniday.</p>

        </div>

    </div>

</section>