<section class="page-section page-section--shop" id="shop">
    <div class="wrapper">

        <div class="page-section-intro">

            <div class="hgroup group">

                <h2 class="kilo">
                    Shop
                </h2>
                <p class="subtitle subtitle--glued alpha">
                    Get your Aniday merchandise!
                </p>

            </div>

        </div>

        <div class="shop-intro box box-black box-inner box-inner--xl">

            <h3>How to order</h3>

            <p>The easiest and fastest way to order Aniday merchandising is through the <a href="http://shop.valentinemusicproductions.nl/">Valentine Music Productions Store</a>. If you want an autographed CD please leave a note in your order!</p>
            <p>Our album is also available through the <a href="http://www.musicbuymail.eu/index.php?sn=c22c4aee5dacf195ccaa999c60dfe8cc&fkreload=true&i=40436">MusicBuyMail</a> website, but ofcourse these cd's will not be signed.</p>

        </div>

        <div class="shop-products">

            <ul class="matrix-list matrix-list-gutter shop-products-list">
                {% for x in (1..5) %}<li>
                <img src="http://www.dummyimage.com/500x500" alt="" class="stacked" />
                <div class="box box-black box-inner box-inner--xl">
                    <h3>
                        Product
                    </h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div></li>{% endfor %}
            </ul>

        </div>

    </div>
</section>