/* Events table
---------------------------------------------------------*/

.vcalendar {

  .vcalendar__date {
      width:15%;
  }

  .vcalendar__venue {
    width:20%;
  }

  .vcalendar__comments {
    width:30%;
  }

  .vcalendar__start {
    width:10%;
  }

  .vcalendar__website {
    width:15%;
  }

}

/* Slideshow
---------------------------------------------------------*/
.slideshow {

  > li {
    position:relative;

    .hgroup {
      left:3em;
      position:absolute;
      top:3em;
    }

    .hgroup--bottom {
      bottom:4.5em;
      top:auto;
    }

    .hgroup--right {
      left:auto;
      right:3em;
    }

  }

}

/* Item meta
---------------------------------------------------------*/

.item-meta {

  dt {
    color:$color-primary;
    @include rem(font-size,.75rem);
    font-weight:bold;
    @include rem(line-height,1.5rem);
    text-transform:uppercase;
  }

  dt ~ dt {
    border-top:1px solid rgb(96,96,96);
    @include rem(margin-top,1.5rem);
    @include rem(padding-top,1.5rem);
  }

  dd {
    font-weight:600;
    margin-left:0;
  }

}

/* Tracklist
---------------------------------------------------------*/
