/* Events table
---------------------------------------------------------*/

.vcalendar {

  .vcalendar__date {
    width:15%;
  }

  .vcalendar__time {
      width:10%;
  }

  .vcalendar__venue {
    width:30%;
  }

  .vcalendar__location {
    width:30%;
  }

  .vcalendar__more {
    width:15%;
  }

}


/* Item meta
---------------------------------------------------------*/

.item-meta {

  dt {
    color:$color-primary;
    @include rem(font-size,.75rem);
    font-weight:bold;
    @include rem(line-height,1.5rem);
    text-transform:uppercase;
  }

  dt ~ dt {
    border-top:1px solid rgb(96,96,96);
    @include rem(margin-top,1.5rem);
    @include rem(padding-top,1.5rem);
  }

  dd {
    font-weight:600;
    margin-left:0;
  }

}

/* Playlist
---------------------------------------------------------*/
.playlist {

  > li {
    @include rem(padding,.75rem);
    position:relative;
  }

  .playlist__lyrics {
    position:absolute;
    right:0;
    @include rem(top, .75rem);
  }

  a {

    &,
    &:focus,
    &:hover {
      color:$color-white;
      text-decoration:none;
    }

  }

}

/* Contact Info
---------------------------------------------------------*/
.contact-info {

  dt {
    color:$color-white;
  }

  dt ~ dt {
    margin-top:1.5em;
  }

  dd {
    margin-left:0;
  }
}