/* Main Navigation (general)
---------------------------------------------------------*/

.main-navigation {
  background-color:rgba(0,0,0,.75);
  left:-999em;
  list-style:none none outside;
  margin:0;
  padding-left:0;
  position:absolute;
  width:100%;

  &.activated {
    display:block;
  }

  > li {

    a {
      color:rgb(255,255,255);
      display:block;
      padding:.75em;
      text-align:center;
      text-decoration:none;
      transition:all 250ms ease-out;

      &:focus,
      &:hover,
      &:active {
        background-color:$color-primary;
      }

    }

  }

  > .current {

    a {

      &,
      &:focus,
      &:hover,
      &:active {
        background:$color-primary;
        color:$color-white;
      }

    }

  }

}

/* Main Navigation (small screens)
---------------------------------------------------------*/

@include respond-min-max($breakpoint-s, $breakpoint-l - 1){

  .main-navigation {
    columns:2;
    column-gap:0;
  }

}

/* Main Navigation (bigger screens)
---------------------------------------------------------*/

@include respond-min($breakpoint-l){

  .main-navigation {
    display:table;
    padding-left:0;
    position:relative;
    table-layout:fixed;
    width:100%;

    > li {
      display:table-cell;
      text-align:center;
    }

  }

}

/* Main Navigation (large screens)
---------------------------------------------------------*/

@include respond-min($breakpoint-xl){

  .main-navigation {
    background-color:transparent;

    > li {

      a {
        display:inline-block;
        padding-left:1.5em;
        padding-right:1.5em;
      }

    }

  }

}

/* Subnavigation
---------------------------------------------------------*/
.sub-navigation {
  list-style:none none outside;
  > li {
    display:inline;
  }
}