.slideshow {
  position:relative;

  .scroller-paging {
      bottom:0;
      position:absolute;
  }

  .scroller-items > li {
    position:relative;
    width:100%;
  }

  .hgroup {
    left:0;
    position:absolute;
    top:9em;
  }

  .hgroup--bottom {
    bottom:4.5em;
    top:auto;
  }

  .hgroup--right {
    left:auto;
    right:0;
  }

  .hgroup--center {
    top:50%;
    transform:translateY(-50%);
  }

  .wrapper {
    height:100%;
    position:absolute;
    top:0;
  }

  img {
    max-width:none;
    width:100%;
  }

}

.slideshow--band {

  .wrapper {
    @include rem(top,12rem);
  }

  .scroller-items > li {
    width:30%;

    .hgroup {
      bottom:3em;
      left:3em;
      opacity:0;
      top:auto;
      transition:opacity 500ms ease-out;
      z-index:1;
    }

    img {
      transform:scale(1);
      transition:transform 500ms ease-out;
    }

    &:hover {

      .hgroup {
        opacity:1;
      }

      img {
        transform:scale(1.05);
      }

    }

  }



}