.timestamp {
  background-color:$color-primary;
  color:$color-white;
  display:inline-block;
  font-size:.77778em; /* 14/18 */
  line-height:1.9285714em; /* 27/14 */
  margin-right:1.5em;
  padding:0 .5em;
}