{% include document/document-open.html %}

    {% include document/document-head.html %}

    <body>

        <a id="toggle" href="#" style="position:fixed; top:3em; right:0; background:white; padding:.75em;">toggle baseline</a>
        <script>
            var link = document.getElementById('toggle');
            link.addEventListener('click',function(e){
                e.preventDefault();
                e.stopPropagation();
                if(document.body.classList.contains('baseline')){
                    document.body.classList.remove('baseline');
                } else {
                    document.body.classList.add('baseline');
                }
            });
        </script>

        <header class="page-header">

            <div class="wrapper group">
                <h1 class="screenreader">Aniday</h1>
                <div class="page-logo">
                    <a href="{{ site.path }}">
                        <img src="{{ site.path }}/_static/assets/svg/logo.svg" alt="Aniday" class="logo" />
                    </a>
                </div>
                <div class="page-nav">
                    {% include navigation/main-navigation.html %}
                </div>
            </div>

        </header>

        <div class="page-content">
            <article>
                <header>
                    <div class="wrapper">
                        <h1 class="stacked">Marlies Schuitemaker</h1>
                        <p>Lead- en backingvocals.</p>
                    </div>
                </header>
            </article>
        </div>

            <div class="wrapper" style="background:black;">
                <ul class="grid-list">
                    {% for x in (1..4) %}<li>
                    <div class="grid-list-item">
                        <div class="grid-list-img">
                            <img src="http://www.dummyimage.com/500x500" alt="" />
                        </div>
                        <div class="grid-list-content">
                            <h2 class="stacked">Titel</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </li>{% endfor %}
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <main class="main-content">
                {% include components/scroller.html %}
                <div class="box box-inner box-white">
                    {{ content }}
                </div>
            </main><!--
            --><div class="sidebar">

                <div class="box box-inner box-secondary">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>

                <div class="box box-inner box-primary">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>

            </div>
        </div>

        {% include layout/footer.html %}

        </div>

    </body>

    {% include document/document-scripts.html %}

{% include document/document-close.html %}