{% include document/document-open.html %}

{% include document/document-head.html %}

<body>

{% include layout/header.html %}

<article>

    <div class="wrapper">
        {% include components/header.html title=page.title subtitle=page.subtitle cover=page.cover %}
    </div>

    <div class="wrapper box box-black">
        <div class="wrapper__inner wrapper__inner--tb">

            {{ content }}

        </div>
    </div>

</article>

{% include layout/footer.html %}

</body>

{% include document/document-scripts.html %}

{% include document/document-close.html %}

