{% include document/document-open.html %}

{% include document/document-head.html %}

<body>

{% include layout/header.html %}

<article>

    <div class="wrapper">
        {% include components/header.html title=page.title subtitle=page.subtitle cover=page.cover %}
    </div>

    <div class="wrapper box box-black">
        <div class="wrapper__inner wrapper__inner--tb">

            <h2 class="header-section header-section--alt screenreader">Introductie</h2>

            {{ content }}


        </div>

        {% include components/gallery.html max=23 url="grote-prijs" %}

    </div>

</article>


<div class="lightboxstage">
    <span></span>
    <img src="#" alt="">
</div>

<script src="{{ site.path }}/_static/js/vendor/vis7mac/flexibox.js"></script>
<script>
    /* Initiate Flexibox with default options.
     We need to pass the objects of all links we want to be a trigger. */
    var lightbox = new Flexibox(document.querySelectorAll('.lightbox'));
</script>

{% include layout/footer.html %}

</body>

{% include document/document-scripts.html %}

{% include document/document-close.html %}

