{% include document/document-open.html %}

{% include document/document-head.html %}

<body>

{% include layout/header.html %}

<article>

    <div class="wrapper">
        {% include components/header.html title=page.title subtitle=page.subtitle cover=page.cover %}
    </div>

    <div class="wrapper box box-black">
        <div class="wrapper__inner wrapper__inner--tb">

            <div class="grid">
                <div class="grid__item grid__item--gutter grid__item--s-1of1 grid__item--m-1of3">

                    <section class="landmark" id="about">
                        {% include components/item-meta.html data=page.meta title="Over dit nummer" %}
                    </section>


                </div><!--
                --><div class="grid__item grid__item--gutter grid__item--s-1of1 grid__item--m-2of3">

                    <section class="landmark" id="lyric">
                        <h2 class="header-section header-section--alt">Songtekst</h2>
                        {{ content }}
                    </section>

                    </div>
            </div>

        </div>
    </div>

</article>


{% include layout/footer.html %}

</body>

{% include document/document-scripts.html %}

{% include document/document-close.html %}