{% include document/document-open.html %}

{% include document/document-head.html %}

<body>

{% include layout/header.html %}

<section>

    {% capture subtitle %}
        Pagina {{ paginator.page }} van {{ paginator.total_pages }}
    {% endcapture %}

    <div class="wrapper">
        {% include components/header.html title=page.title subtitle=subtitle cover=page.cover %}
    </div>

    <div class="wrapper box box-black">
        <div class="wrapper__inner wrapper__inner--tb">

            <h2 class="header-section header-section--alt">Headlines</h2>

            {{ content }}

        </div>
    </div>

</section>


{% include layout/footer.html %}

</body>

{% include document/document-scripts.html %}

{% include document/document-close.html %}