{% include document/document-open.html %}

{% include document/document-head.html %}

<body>

{% include layout/header.html %}

<article class="box-inner box-inner--xl">

    <div class="wrapper">
        {% include components/header.html %}
    </div>

    <div class="wrapper box box-black">

            <div class="grid">
                <div class="grid__item grid__item--s-1of1 grid__item--m-1of3">
                    <div class="box box-inner box-inner--xl">

                        <h2>Over dit artikel</h2>
                        <dl class="item-meta">
                            <dt>Gepubliceerd op</dt>
                            <dd>
                                {% include helpers/date.html date="{{ page.date }}" %}
                            </dd>
                            <dt>
                                Auteur
                            </dt>
                            <dd>
                                {{ page.author }}
                            </dd>
                            <dt>
                                Categorie
                            </dt>
                            <dd>
                                Live
                            </dd>
                        </dl>

                    </div>
                </div><!--
                --><div class="grid__item grid__item--s-1of1 grid__item--m-2of3">

                    <div class="box box-inner box-inner--xl">




                            {% if page.img %}
                            <figure class="box box-primary island">
                                <img src="{{ site.path }}/{{ page.img.url }}" alt="{{ page.img.alt }}" class="stacked" />
                                <figcaption class="box box-inner">
                                    Image caption.
                                </figcaption>
                            </figure>
                            {% endif %}


                                {{ content }}


                        </article>

                    </div>

                </div><!--
                            --><div class="grid__item grid__item--s-1of1 grid__item--m-1of3">

            </div>
            </div>

    </div>

</article>

{% include layout/footer.html %}

</body>

{% include document/document-scripts.html %}

{% include document/document-close.html %}