{% include document/document-open.html %}

{% include document/document-head.html %}

<body>

{% include layout/header.html %}

<article>

    <div class="wrapper">
        {% include components/header.html title=page.title subtitle=page.subtitle cover=page.cover %}
    </div>

    <div class="wrapper box box-black">
        <div class="wrapper__inner wrapper__inner--tb">

            <div class="grid">
                <div class="grid__item grid__item--gutter grid__item--s-1of1 grid__item--m-1of3">

                    <section class="landmark" id="about">
                        {% include components/item-meta.html data=page.meta title="Over dit artikel" %}
                    </section>

                </div><!--
                --><div class="grid__item grid__item--gutter grid__item--s-1of1 grid__item--m-2of3">

                    {% if page.scroller %}
                        <section class="landmark" id="pix">
                            <h2 class="header-section header-section--alt">Foto's bij dit artikel</h2>
                            {% include components/scroller.html data=page.scroller overlay=true %}
                        </section>
                    {% endif %}

                    <section class="landmark" id="article">
                        <h2 class="header-section header-section--alt">Artikel</h2>
                        {{ content }}
                    </section>

                </div>
            </div>

        </div>
    </div>

</article>

{% include layout/footer.html %}

</body>

{% include document/document-scripts.html %}

{% include document/document-close.html %}