{% include document/document-open.html %}

    {% include document/document-head.html %}

    <body>

        {% include layout/header.html %}

        <article>
            <header>
                <h1>{{ page.title }}</h1>
                <dl>
                    <dt>Gepubliceerd op</dt>
                    <dd>
                        {% include helpers/date.html date="{{ page.date }}" %}
                    </dd>
                    <dt>
                        Auteur
                    </dt>
                    <dd>
                        {{ page.author }}
                    </dd>
                </dl>
            </header>

            {% if page.img %}
            <figure>
                <img src="{{ site.path }}/_media/{{ page.img.url }}" alt="{{ page.img.alt }}" />
                {% if page.img.caption %}
                    <figcaption>{{ page.img.caption }}</figcaption>
                {% endif %}
            </figure>
            {% endif %}

            {{ content }}
        </article>

        {% include layout/footer.html %}

    </body>

    {% include document/document-scripts.html %}

{% include document/document-close.html %}