{% include document/document-open.html %}

    {% include document/document-head.html %}

        <body>

            {% include layout/header.html %}

            <article class="box-inner box-inner--xl">

                <div class="wrapper">
                    {% include components/header.html %}
                </div>

                <div class="wrapper box box-black">
                    <div class="wrapper__inner">

                        <div class="grid">
                            <div class="grid__item grid__item--s-1of1 grid__item--m-2of3">

                                <div class="box box-inner box-inner--xl">
                                    {{ content }}
                                </div>

                            </div><!--
                            --><div class="grid__item grid__item--s-1of1 grid__item--m-1of3">

                                <div class="box box-inner box-inner--xl">
                                    <h2 class="header-section header-section--alt">Profiel</h2>
                                    <dl class="item-meta">
                                        <dt>Naam</dt>
                                        <dd>Marlies Schuitemaker</dd>
                                        <dt>Geboortedatum</dt>
                                        <dd>31 maart 1981</dd>
                                        <dt>Rol in Aniday</dt>
                                        <dd>Leadvocals, backing-vocals, songwriter</dd>
                                        <dt>Invloeden</dt>
                                        <dd>Anouk, Evanescense, Pink</dd>
                                        <dt>Favoriete Aniday-nummer</dt>
                                        <dd>Leave Me With Your Lies</dd>
                                    </dl>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <aside class="wrapper box box-primary">
                    <div class="box box-inner--xl">
                        <h2 class="stacked">Overige bandleden van Aniday</h2>
                    </div>
                    <ul class="matrix-list matrix-list-s-2 matrix-list-m-4 stacked">
                        {% for x in (1..4) %}<li>
                        <a href="#" class="overlay-box">
                            <figure>
                                <img src="{{ site.path }}/_media/img/gallery/{{ x }}.jpg" alt="" />
                                <figcaption class="overlay-box__title">
                                    <h3 class="stacked">
                                        Robby Valentine
                                    </h3>
                                    <p class="delta primary stacked">Guitar</p>
                                </figcaption>

                            </figure>
                        </a>
                    </li>{% endfor %}

                </aside>

            </article>

            {% include layout/footer.html %}

        </body>

    {% include document/document-scripts.html %}

{% include document/document-close.html %}