{% include document/document-open.html %}

    {% include document/document-head.html %}

    <body>

        {% include layout/header.html %}        

        <article>
            <header>
                <h1>{{ page.title }}</h1>
            </header>

            <section id="release-meta">
                <dl>
                    <dt>Datum</dt>
                    <dd>29 maart 2014</dd>
                    <dt>Label</dt>
                    <dd>Valentine Music Productions</dd>
                    <dt>Opgenomen</dt>
                    <dd>2009-2014</dd>
                </dl>
            </section>

            <audio id="audio-player" preload></audio>

            <ol data-module="ui/AudioPlaylist" data-audio-player="audio-player" class="playlist reset-list">
                <li>
                    <a href="{{ site.path }}/_media/audio/saveme-edit.mp3" class="song-title">The Magic Breeze</a>
                    <span class="song-duration">3:14</span>
                    <span class="song-progress"></span>
                </li>
                <li>
                    <a href="{{ site.path }}/_media/audio/ras.mp3" class="song-title">Broken Dreams</a>
                    <span class="song-duration">3:14</span>
                    <span class="song-progress"></span>
                </li>
            </ol>


            <section id="release-tracklist">
                <ol>
                    <li>
                        <a href="{{ site.path }}/{% include helpers/permalink.html id='not-much-of-a-man' %}">Lost The Way</a>
                    </li>
                    <li>
                        <a href="{{ site.path }}/{% include helpers/permalink.html id='not-much-of-a-man' %}">Leave Me With Your Lies</a>
                    </li>
                    <li>
                        <a href="{{ site.path }}/{% include helpers/permalink.html id='not-much-of-a-man' %}">When Loving You Is Wrong</a>
                    </li>
                    <li>
                        <a href="{{ site.path }}/{% include helpers/permalink.html id='not-much-of-a-man' %}">Hole In My Heart</a>
                    </li>
                    <li>
                        <a href="{{ site.path }}/{% include helpers/permalink.html id='not-much-of-a-man' %}">Born Yesterday</a>
                    </li>
                    <li>
                        <a href="{{ site.path }}/{% include helpers/permalink.html id='not-much-of-a-man' %}">Buscanda La Vida</a>
                    </li>
                    <li>
                        <a href="{{ site.path }}/{% include helpers/permalink.html id='not-much-of-a-man' %}">Don't Fool With Me</a>
                    </li>
                    <li>
                        <a href="{{ site.path }}/{% include helpers/permalink.html id='not-much-of-a-man' %}">Can't Take No More</a>
                    </li>
                    <li>
                        <a href="{{ site.path }}/{% include helpers/permalink.html id='not-much-of-a-man' %}">Dream On</a>
                    </li>
                    <li>
                        <a href="{{ site.path }}/{% include helpers/permalink.html id='not-much-of-a-man' %}">Not Much Of A Man</a>
                    </li>
                    <li>
                        <a href="{{ site.path }}/{% include helpers/permalink.html id='not-much-of-a-man' %}">We Belong (Gift Of Song)</a>
                    </li>
                    <li>
                        <a href="{{ site.path }}/{% include helpers/permalink.html id='not-much-of-a-man' %}">Get Funky</a>
                    </li>
                </ol>
            </section>

        </article>

        {% include layout/footer.html %}

    </body>

    {% include document/document-scripts.html %}

{% include document/document-close.html %}