{% include document/document-open.html %}

    {% include document/document-head.html %}

    <body class="teaser">

        <div class="teaser-wrapper">

            <header class="page-header">
                <h1 class="screenreader">
                    Aniday
                </h1>
                <img src="{{ site.path }}/_static/assets/img/logo.png" alt="Aniday" class="stacked" />
            </header>

            <div class="msg">
                <p>De nieuwe Aniday website komt binnenkort online!</p>
            </div>

            <nav>
                <ul class="teaser-navigation">
                    <li>
                        <a href="#info" data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="true">Info</a>
                    </li>
                    <li>
                        <a href="#preview" data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="true">Preview</a>
                    </li>
                    <li>
                        <a href="#vp" data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="true">Voorprogramma</a>
                    </li>
                    <li>
                        <a href="#tickets" data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="true">Tickets</a>
                    </li>
                    <li>
                        <a href="#vip" data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="true">VIP Tickets</a>
                    </li>
                </ul>
            </nav>

            <article id="info" class="landmark">
                <div class="img-header">
                    <div class="img-header-title">
                        <h2>CD-presentatie</h2>
                    </div>
                    <img src="{{ site.path }}/_media/img/band.jpg" alt="" />
                </div>
                <div class="box box-white box-inner">
                    <p>Op 29 maart vindt in P3 Purmerend de CD Presentatie van het nieuwe album van <strong>ANIDAY</strong> plaats!</p>
                    <p>De muziekstijl van <strong>ANIDAY</strong> laat zich moeilijk omschrijven. Wanneer er toch vergeleken moet worden zou men kunnen zeggen dat <strong>ANIDAY</strong> een brug slaat tussen Evanescence, Pink, en de Guano Apes, en dat zij het muzikale gat daar tussen dichten… <strong>ANIDAY</strong> laat zich namelijk alleen maar omschrijven als <strong>ANIDAY</strong>. De muziekstijl spreekt een breed publiek aan en het bewijs daarvoor wordt gevonden in de grote diversiteit in het optredens bezoekende publiek, variërend van jong tot oud, van metalliefhebber, tot poprock minnend, in binnen- en buitenland.</p>
                    <p><strong>ANIDAY</strong> heeft een heavy, professionele en volwassen sound en de band is live een lust voor oor en oog. De band neemt de luisteraar mee in een avontuur dat afwisselend wellustig, hels of meeslepend genoemd kan worden. Eén ieder die <strong>ANIDAY</strong> live heeft mogen aanschouwen wil meer… en of dat nou komt door de krachtige songs, de ijzersterke zang, of door de geweldige muzikanten waaruit te band bestaat, dat mag je zelf aanschouwen en bepalen wanneer je deze te gekke band live ziet.</p>
                </div>
            </article>

            <article id="preview" class="landmark">
                <div class="img-header">
                    <div class="img-header-title">
                        <h2>Preview</h2>
                    </div>
                    <div class="video-wrapper">
                        <iframe width="560" height="315" src="//www.youtube.com/embed/zkleOnLVaGc?controls=0&modestbranding=true&showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="box box-white box-inner">
                    <p>Benieuwd naar wat je kunt verwachten van de nieuwe plaat van Aniday? Hierboven kun je de clip van Can't Take No More bekijken. Daarnaast kun je hieronder een <strong>gratis download</strong> vinden van Lost The Way!</p>
                    <p><a href="{{ site.path }}/_media/audio/ltw.mp3" class="button">Download 'Lost The Way'</a></p>
                </div>
            </article>

            <article id="vp" class="landmark">
                <div class="img-header">
                    <div class="img-header-title">
                        <h2>Robby Valentine</h2>
                    </div>
                    <img src="{{ site.path }}/_media/img/rv.jpg" alt="" />
                </div>
                <div class="box box-white box-inner">
                    <p>Robby Valentine zal vanavond zijn <strong>Tribute to Queen</strong> ter gehore brengen!</p>
                    <p>Zanger, songwriter en multi-instrumentalist <strong>Robby Valentine</strong> is niet gemakkelijk in een hokje te plaatsen.</p>
                    <p>De eerste hitsingle <strong>Over And Over Again</strong>, een gevoelige piano rock ballad, toont slechts een fractie van zijn muzikale kunnen.</p>
                    <p>Valentine heeft door de jaren heen 10 solo albums opgenomen waarop vrijwel iedere muzikale stijl terug te horen is. Pop, rock, metal, ballads, vaudeville. Zelfs dance, zoals verkend op het in 2014 te verschijnen album <strong>Bizarro World</strong>.</p>
                </div>
            </article>

            <article id="tickets" class="landmark">
                <div class="img-header">
                    <div class="img-header-title">
                        <h2>Ticket Info</h2>
                    </div>
                    <img src="{{ site.path }}/_media/img/band2.jpg" alt="" />
                </div>
                <div class="box box-white box-inner">
                    <dl>
                        <dt>Entree <abbr title="Voorverkoop">VVK</abbr></dt>
                        <dd>&euro; 10,- (excl. fee)</dd>
                        <dt>Entree deur</dt>
                        <dd>&euro; 12,50 (incl. fee)</dd>
                        <dt>CD (incl. gratis entree)</dt>
                        <dd>&euro; 15,-</dd>
                    </dl>
                    <p>Gratis entree op presentatie 29 maart als cd gekocht met voorintekening á &euro; 15,- via deze site.</p>
                    <p>Cd ophalen op presentatie 29 maart, bewaar je ticket, dan kun je hem bij de merchandise ophalen.</p>
                    <p><a href="https://frontoffice.paylogic.nl/flows/MTAuMTA4LjAuMTcsNTQsNjIwNjcwZWMxZDk3NDdjZjkxYThlYjlkNWJhNGE2NDEsZDllZDk2YjQ2YTNmMTg4Mjc2YmU3YzI5MDI5ZTExOTI/Tickets/" class="button">Tickets kopen!</a>&nbsp;&nbsp;&nbsp;&nbsp;of&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.p3purmerend.nl/ANIDAY-cd-presentatie-2/" class="button">Bezoek de P3 website</a></p>
                </div>
            </article>

            <article id="vip">
                <div class="img-header">
                    <div class="img-header-title">
                        <h2>VIP Tickets</h2>
                    </div>
                    <img src="{{ site.path }}/_media/img/band3.jpg" alt="" />
                </div>
                <div class="box box-white box-inner">
                    <p>VIP pakket á &euro; 35,– bestaande uit:</p>
                    <ul>
                        <li>Entree tot de <strong>Try Out</strong> 2 maart</li>
                        <li>Tijdens de Try Out een uitgebreide <strong>meet & greet</strong> met de band in een besloten gezelschap</li>
                        <li>Toegang tot de <strong>presentatie</strong> 29 maart</li>
                        <li>Een <strong>goodie bag</strong> (op te halen op 29 maart) met daarin:
                            <ul>
                                <li>Album gesigneerd + persoonlijke boodschap</li>
                                <li>Poster van de band</li>
                                <li>Stickers</li>
                                <li>Foto met de band</li>
                            </ul>
                    </ul>
                    <p>Op de try out wordt er een professionele foto met jou en de band genomen, deze foto zit ook in de goodie bag die je op kunt halen tijdens de presentatie.</p>
                </div>
            </article>

            <footer class="page-footer">
                <p>&copy; 2009-2014 Marlies Music Productions.</p>
                <p>Fotografie door Louise van Uum, Freddie van ter Beek en Fotostudio Flevo.</p>
            </footer>

        </div>


    </body>
    <script src="{{ site.path }}/_static/js/vendor/cferdinandi/smoothscroll.js"></script>

{% include document/document-close.html %}