<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="author" content="Pim Derks" />
    <meta name="description" content="{{ page.description }}" />

    <title>{{ page.title }} - Aniday</title>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ site.path }}/_static/css/styles.ie.min.css" />
    <script src="{{ site.path }}/_static/js/shim/html5shiv-printshiv.js"></script>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <script>document.documentElement.className = 'js';</script>
    <link rel="stylesheet" href="{{ site.path }}/_static/css/styles.min.css" />
    <script src="{{ site.path }}/_static/js/vendor/paulirish/modernizr.js"></script>
    <!--<![endif]-->

</head>