<footer role="contentinfo" class="page-footer">

    <nav class="box box-inner box-primary page-footer__nav">
        <div class="wrapper">

            <h2 class="screenreader">Navigatie</h2>
            <ul class="reset-list inline-list">
                <li>
                    <a href="{{ site.path }}/nieuws/">Nieuws</a>
                </li>
                <li>
                    <a href="{{ site.path }}/agenda/">Agenda</a>
                </li>
                <li>
                    <a href="{{ site.path }}/band/">Band</a>
                </li>
                <li>
                    <a href="{{ site.path }}/muziek/">Muziek</a>
                </li>
                <li>
                    <a href="{{ site.path }}/media/">Media</a>
                </li>
                <li>
                    <a href="{{ site.path }}/shop/">Shop</a>
                </li>
                <li>
                    <a href="{{ site.path }}/contact/">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="box box-inner box-inner--xl box-black-extra">
        <div class="wrapper">
            <div class="page-footer__copyright">
                <p class="stacked">© 2009-2014 Marlies Music Productions.</p>
                <p class="small">Website by <a href="http://www.twitter.com/pimderks">Pim Derks</a>.</p>
            </div>
        </div>
    </div>

</footer>