<div class="wrapper-helper"></div>
<a id="togglegrid" href="#" style="position:fixed; top:3em; right:0; background:white; padding:.75em; z-index:1200;">toggle baseline</a>
<script>
    var link = document.getElementById('togglegrid');
    link.addEventListener('click',function(e){
        e.preventDefault();
        e.stopPropagation();
        if(document.body.classList.contains('showgrid')){
            document.body.classList.remove('showgrid');
        } else {
            document.body.classList.add('showgrid');
        }
    });
</script>

<header class="page-header">

    <div class="wrapper box box-inner group">
        <h1 class="screenreader">Aniday</h1>
        <div class="page-logo">

            {% unless page.group == 'home' %}
                <a href="/">
            {% endunless %}

                <img src="{{ site.path }}/_static/assets/svg/logo.svg" alt="Aniday" class="logo" />

            {% unless page.group == 'home' %}
                </a>
            {% endunless %}

        </div>
        <div class="page-nav">
            {% include navigation/main-navigation.html %}
        </div>
    </div>

    <div class="box-white">
        <div class="wrapper">
            {% include navigation/sub-navigation.html %}
        </div>
    </div>

</header>