html {
  background:#171717 url("../assets/img/bg.jpg");
}

body {
  background:transparent url("../assets/img/bg1.jpg") no-repeat top right;
  background-size:100% auto;
  background-attachment:fixed;
}

.page-content {
  position:relative;

  header {
    background-image:url("../assets/img/test.jpg");
    background-size:cover;
    padding:3em 1.5em;
  }

}


.landmark {
  margin-bottom:3em;
}

@include respond-min($breakpoint-m){

  body {
    padding-top:9em;

    &.body--stuck {
      padding-top:0;
    }

  }

  .page-header {
    background:rgba(0,0,0,.85);
    border-bottom:.25em solid $color-primary;
    box-shadow:0 .25em .25em rgba(0,0,0,.15);
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;

    .page-logo {
      float:left;
      width:25%;
    }

    .page-nav {
      float:right;
      width:75%;
    }
  }

  .page-content {

    header {
      padding:7.5em 0;
    }

  }

}

.main-content {
  background:white;
  color:black;
}

.sidebar {
}

@include respond-min($breakpoint-l){

  .main-content,
  .sidebar {
    display:inline-block;
    vertical-align:top;
  }

  .main-content {
    margin-right:1.5%;
    width:65.1666%;
  }

  .sidebar {
    margin-left:1.5%;
    width:31.8333%;
  }

  .test + .wrapper .sidebar {
    margin-top:-7.5em;
  }

}

.box {
  position:relative;

  > *:last-child,
  > *:last-child > *:last-child,
  > *:last-child > *:last-child > *:last-child {
    margin-bottom:0;
  }

}

.box-inner {
  padding:1.5em;
}

.box-inner--xl {
  padding:3em;
}

.box-white {
  background:$color-white;
  color:black;
  text-shadow:none;
}

.box-black {
  background:rgba(0,0,0,.25);
}

.box-primary {
  background:rgba($color-primary,.85);

  &,
  & a {
    color:$color-white;
  }

}

.box-secondary {
  background:rgba($color-secondary,.85);
}

.box-border {
  border-top:1px solid rgb(95,95,95);
  padding-top:1.5em;
}

.island {
  margin-bottom:1.5em;
}

/* Header
----------------------------------------------- */

.page-header {

  .logo {
    margin:.75em 0;
  }

}

nav[role]{
  position:relative;
}
/* Footer
----------------------------------------------- */

.page-footer {
  margin-top:3em;

  p {
    margin-bottom:0;
  }

}