html {
  background:#171717 url("../assets/img/bg.jpg");
}

body {
  background:transparent url("../assets/img/bg1.jpg") no-repeat top right;
  background-size:100% auto;
}

.page-content {
  position:relative;

  header {
    background-image:url("../assets/img/test.jpg");
    background-size:cover;
    padding:3em 1.5em;
  }

}

@include respond-min($breakpoint-m){

  .page-header {
    background:rgba(0,0,0,1);

    .page-logo {
      float:left;
      width:25%;
    }

    .page-nav {
      float:right;
      width:75%;
    }
  }

  .page-content {

    header {
      padding:7.5em 0;
    }

  }

}

/* .page-content {
  background:black;
} */

.wrapper {
  margin:0 auto;
  max-width:1024px;
  position:relative;
}

@include respond-min($breakpoint-l){

  .wrapper {
    margin-left:5%;
    margin-right:5%;
    max-width:none;
  }

}

.main-content {
  background:white;
  color:black;
}

.sidebar {
}

@include respond-min($breakpoint-l){

  .main-content,
  .sidebar {
    display:inline-block;
    vertical-align:top;
  }

  .main-content {
    margin-right:1.5%;
    width:65.1666%;
  }

  .sidebar {
    margin-left:1.5%;
    width:31.8333%;
  }

  .test + .wrapper .sidebar {
    margin-top:-7.5em;
  }

}

.box {
  position:relative;
}

.box-inner {
  padding:1.5em;

  > *:last-child,
  > *:last-child > *:last-child,
  > *:last-child > *:last-child > *:last-child {
    margin-bottom:0;
  }

}

.box-inner--xl {
  padding:3em;
}

.box-white {
  background:$color-white;
  color:black;
  text-shadow:none;
}

.box-black {
  background:rgba(0,0,0,.25);
}

.box-primary {
  background:rgba($color-primary,.85);
  color:$color-white;
}

.box-secondary {
  background:rgba($color-secondary,.85);
}

.box-border {
  border-top:1px solid rgb(95,95,95);
  padding-top:1.5em;
}

.island {
  margin-bottom:1.5em;
}

/* Header
----------------------------------------------- */

.page-header {

  .logo {
    margin:.75em 0;
  }

}

nav[role]{
  position:relative;
}
/* Footer
----------------------------------------------- */

.page-footer {
  padding:3em 0;
  text-align:center;

  p {
    margin-bottom:0;
  }

}


/* Img header
----------------------------------------------- */
.img-header {
  position:relative;

  .img-header-title {
    @if $old-ie {
      background:$color-primary;
    } @else {
      background:rgba($color-primary, .9);
    }
    bottom:0;
    left:0;
    padding:1.5em 3em;
    position:absolute;
    z-index:1;
  }

  img {
    margin-bottom:0;
  }

  h2,
  h3 {
    margin-bottom:0;

  }

}


/* Teaser site
----------------------------------------------- */

.teaser {
  padding-bottom:4.5em;

  .teaser-wrapper {
    margin:0 auto;
    max-width:40em;
  }

  .landmark {
    margin-bottom:3em;
  }

  .page-header {
    padding:3em 0 1.5em;
  }

  .page-footer {
    padding:1.5em 0 3em;
  }

  .msg {
    @if $old-ie {
      background:black;
    } @else {
      background:rgba(0,0,0,.75);
    }
    bottom:0;
    left:0;
    color:$color-white;
    padding:1.5em;
    position:fixed;
    text-align:center;
    width:100%;
    z-index:1000;

    p {
      margin-bottom:0;
    }
  }

}

/* Teaser Navigation (bigger screens)
---------------------------------------------------------*/

.teaser-navigation {
  list-style:none none outside;
  padding-left:0;
  position:relative;
  text-align:center;
  width:100%;

  > li {
    display:inline-block;

    a {
      color:rgb(255,255,255);
      display:block;
      padding:.75em 1.5em;
      text-decoration:none;
      transition:all 250ms ease-out;

      &:focus,
      &:hover,
      &:active {
        background-color:rgba(0,0,0,.5);
        color:$color-primary;
      }

      &:active {
        background-color:rgba(0,0,0,.75);
      }

    }

  }

}