/* HTML and body
---------------------------------------------------------*/

html {
  background:#171717 url("../assets/img/bg.jpg");
}

body {
  background:transparent url("../assets/img/bg2.jpg") no-repeat top right;
  background-size:cover;
  background-attachment:fixed;
}

html,
body {
  min-height:100%;
}

body {
  @include rem(padding-top,5rem);
}

@include respond-min($breakpoint-l){

  body {
    @include rem(padding-top,6rem);
  }

}

/* Page header
---------------------------------------------------------*/

.page-content {
  position:relative;

  header {
    background-image:url("../assets/img/test.jpg");
    background-size:cover;
    padding:3em 1.5em;
  }

}

/* Landmark
---------------------------------------------------------*/

.landmark {
  margin-bottom:3em;
}

/* Page layout
---------------------------------------------------------*/

.page-header {
  @include rem(padding, 1.5rem 0);
  background:rgba(0,0,0,.85);
  border-bottom:.25em solid $color-primary;
  box-shadow:0 .25em .25em rgba(0,0,0,.15);
  left:0;
  margin:0 auto;
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;

  .page-logo {
    @include gs-span(m, 1, 1, false, true);
  }

  img {
    @include rem(height,2rem);
    display:block;
    margin:0;
  }

  .menu-toggle {
    @include rem(font-size,2rem);
    @include rem(right,1.5rem);
    color:$color-white;
    margin-top:-.75em;
    position:absolute;
    top:50%;

    .icon-menu {
      &:before {
        margin:0;
      }
    }
  }

  .main-navigation {
    left:-9999em;
    margin-top:.2em; /* border-bottom */
    position:absolute;
    right:0;
    top:100%;

    &.activated {
      left:0;
    }

  }


}

@include respond-min($breakpoint-l){

  .page-header {

    .page-logo {
      @include gs-span(ta, 1, 1, false, true);
      @include rem(margin-top, .5rem);
    }

    .page-nav {
      @include gs-span(ta, 2, 4, false, true);
      @include rem(padding-left,1.5rem);

      .main-navigation {
        background-color:transparent;
        left:auto;
        margin-top:auto;
        position:relative;
        right:auto;
      }

    }

  }

}

/* Boxes
---------------------------------------------------------*/

.box {
  position:relative;

  > *:last-child,
  > *:last-child > *:last-child,
  > *:last-child > *:last-child > *:last-child {
    margin-bottom:0;
  }

}

.box-inner {
  padding:1.5em;
}

.box-inner--xl {
  padding:3em;
}

.box-white {
  background:$color-white;
  color:black;
  text-shadow:none;
}

.box-black {
  background:rgba(0,0,0,.5);
}

.box-black-extra {
  background:rgba(0,0,0,.9);
}

.box-primary {
  background:rgba($color-primary,.85);

  &,
  & a {
    color:$color-white;
  }

}

.box-secondary {
  background:rgba($color-secondary,.85);
}

.box-border {
  border-top:1px solid rgb(95,95,95);
  padding-top:1.5em;
}

.island {
  margin-bottom:1.5em;
}

/* Page footer
---------------------------------------------------------*/

.page-footer {
  margin-top:3em;

  p {
    margin-bottom:0;
  }

  .page-footer__copyright,
  .page-footer__social {
    display:block;
    text-align:center;
  }

  .page-footer__copyright {
    @include rem('margin-bottom',1.5rem);
  }

  .page-footer__copyright .small {

    &,
    & a {
      color:rgb(96,96,96);
      text-decoration:none;
    }

  }

}

/* Page footer nav
---------------------------------------------------------*/

.page-footer__nav {

  ul {
    display:table;
    table-layout:fixed;
    width:100%;

    > li {
      display:table-cell;
      text-align:center;
    }

  }

  img {
    height:1.5em;
    margin-bottom:0;
  }

  a {
    text-decoration:none;

    &:focus,
    &:hover {
      text-decoration:underline;
    }

  }

}