/* Bio
---------------------------------------------------------*/

@include respond-min($breakpoint-s){

}

@include respond-min($breakpoint-m){

}

@include respond-min($breakpoint-l){

  .bio-story {
    margin:0 auto;
    width:gs-width(da, 1, 8, false, true);

    .bio-story-text {
      columns:2;
      column-gap:3em;
    }

  }

}

/* Band
---------------------------------------------------------*/

.band-profile-pic {
  position:relative;

  .hgroup {
    left:3em;
    position:absolute;
    bottom:3em;
  }

  img {
    margin-bottom:0;
    width:100%;
  }

}

@include respond-min($breakpoint-s){

}

@include respond-min($breakpoint-m){

}

@include respond-min($breakpoint-l){

  $gutter: gs-gutter(da, (1,8), true);

  .band-members-list {
    margin-left:-#{$gutter};
    margin-top:-#{$gutter};
    text-align:center;

    > li {
      padding-left:gs-gutter(da, (1,8), true);
      padding-top:gs-gutter(da, (1,8), true);
      text-align:left;
      width:50%;
    }

  }

  .band-profiles {
    @include gs-span(da, 1, 8, false, true);
  }

  .band-info {
    margin:0 auto 4.5em;
    width:gs-width(da, 1, 8, false, true);
  }

}

/* Music
---------------------------------------------------------*/

@include respond-min($breakpoint-s){

}

@include respond-min($breakpoint-m){

}

@include respond-min($breakpoint-l){

  .music-artwork {
    @include gs-span(da, 1, 4, false, true);
  }

  .music-player {
    @include gs-span(da, 5, 8, false, true);
  }

}

/* Gallery
---------------------------------------------------------*/

.page-section--gallery {

}

@include respond-min($breakpoint-s){

  .page-section--gallery {


  }

}

@include respond-min($breakpoint-m){

  .page-section--gallery {

  }

}

@include respond-min($breakpoint-l){

  .page-section--gallery {

  }

  $gutter: gs-gutter(da, (1,8), true);

  .gallery-list {
    margin-left:-#{$gutter};
    margin-top:-#{$gutter};
    text-align:center;

    > li {
      padding-left:gs-gutter(da, (1,8), true);
      padding-top:gs-gutter(da, (1,8), true);
      text-align:left;
      width:33.33%;
    }

  }

}

/* Shop
---------------------------------------------------------*/

@include respond-min($breakpoint-s){

}

@include respond-min($breakpoint-m){

}

@include respond-min($breakpoint-l){


  .shop-intro,
  .shop-products {
    margin:0 auto;
    width:gs-width(da, 1, 8, false, true);
  }

  $gutter: gs-gutter(db, (3,6), true);

  .shop-intro {
    margin-bottom:4.5em;
  }

  .shop-products-list {
    margin-left:-#{$gutter};
    margin-top:-#{$gutter};

    > li {
      padding-left:gs-gutter(db, (3,6), true);
      padding-top:gs-gutter(db, (3,6), true);
      width:50%;
    }

    img {
      width:100%;
    }

  }

}

/* Contact
---------------------------------------------------------*/

@include respond-min($breakpoint-s){

}

@include respond-min($breakpoint-m){

}

@include respond-min($breakpoint-l){

  .contact-info {
    margin:0 auto;
    width:gs-width(da, 1, 8, false, true);
  }

  .contact-bookings {
    @include gs-span(da, 1, 4, false, true);
  }

  .contact-social {
    @include gs-span(da, 5, 8, false, true);
  }

}