---
layout: events
title: Agenda
---

<h2 class="header-section header-section--alt">Binnenkort</h2>

<table class="vcalendar">
    <thead>
        <tr>
            <th scope="col" class="vcalendar__date">Datum</th>
            <th scope="col" class="vcalendar__venue">Podium</th>
            <th scope="col" class="vcalendar__location">Locatie</th>
            <th scope="col" class="vcalendar__time">Aanvang</th>
            <th scope="col" class="vcalendar__more">Meer info</th>
        </tr>
    </thead>
    <tbody>
        {% for y in (1..5) %}
            <tr>
                <td scope="row">
                    <time class="dtstart dimmed" datetime="2014-03-02">02-03-2014</time>
                </td>
                <td>
                    <span class="primary bold">P3 Purmerend</span>
                </td>
                <td>
                    Purmerend, Noord-Holland
                </td>
                <td>
                    <span class="dimmed">20:00</span>
                </td>
                <td>
                    <a href="http://www.p3purmerend.nl/aniday-cd-presentatie-2">Meer info</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr />

<h2 class="header-section header-section--alt">Reeds gespeelde concerten</h2>

<table class="vcalendar">
    <thead>
        <tr>
            <th scope="col" class="vcalendar__date">Datum</th>
            <th scope="col" class="vcalendar__venue">Podium</th>
            <th scope="col" class="vcalendar__location">Locatie</th>
            <th scope="col" class="vcalendar__time">Aanvang</th>
            <th scope="col" class="vcalendar__more">Meer info</th>
        </tr>
    </thead>
    <tbody>
        {% for y in (1..5) %}
            <tr>
                <td scope="row">
                    <time class="dtstart dimmed" datetime="2014-03-02">02-03-2014</time>
                </td>
                <td>
                    <span class="primary bold">P3 Purmerend</span>
                </td>
                <td>
                    Purmerend, Noord-Holland
                </td>
                <td>
                    <span class="dimmed">20:00</span>
                </td>
                <td>
                    <a href="http://www.p3purmerend.nl/aniday-cd-presentatie-2">Meer info</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
